.profile-header {
    transform: translateY(4rem);
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background-color: #000;
    /* background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8); */
}

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}